##  What machine is your central manager?
CONDOR_HOST = gridtest03.racf.bnl.gov

## Pool's short description
COLLECTOR_NAME = Cloud Condor at $(FULL_HOSTNAME)

##  When is this machine willing to start a job? 
START = TRUE

##  When to suspend a job?
SUSPEND = FALSE

##  When to nicely stop a job?
##  (as opposed to killing it instantaneously)
PREEMPT = FALSE

##  When to instantaneously kill a preempting job
##  (e.g. if a job is in the pre-empting stage for too long)
KILL = FALSE

##  This macro determines what daemons the condor_master will start and keep its watchful eyes on.
##  The list is a comma or space separated list of subsystem names

DAEMON_LIST = MASTER, STARTD
#DAEMON_LIST = COLLECTOR, MASTER, NEGOTIATOR, SCHEDD


UID_DOMAIN = localhost.localdomain

COLLECTOR_HOST = $(CONDOR_HOST):29660

HIGHPORT = 20000 
LOWPORT = 30000
#CREDD_PORT = 29620
#STORK_PORT = 29621

NUM_CPUS = 1
FLOCK_FROM = *

STARTD_DEBUG = D_PID D_COMMAND D_JOB D_MACHINE

UPDATE_COLLECTOR_WITH_TCP = True

UPDATE_INTERVAL = 30

ALLOW_WRITE = *

CCB_ADDRESS = $(COLLECTOR_HOST)
PRIVATE_NETWORK_NAME = localdomain
#JOB_INHERITS_STARTER_ENVIRONMENT = True

USER_JOB_WRAPPER = /usr/libexec/jobwrapper.sh
SLOT1_USER = slot1
#SLOT2_USER = slot2
#SLOT3_USER = slot3
#SLOT3_USER = slot4
#EXECUTE_LOGIN_IS_DEDICATED = True
DEDICATED_EXECUTE_ACCOUNT_REGEXP = slot[1-4]+


